<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center about-container">
                    <div class="about-text">
                        <h2 class="section-heading">About</h2>
                        <h3 class="about-subheading">Hi! I’m Kai Tan, a graphic designer and illustrator currently based in the Philippines.</h3>
                        <div class="about-content">
                            I am currently pursuing my undergraduate degree in BFA Information Design at Ateneo de Manila University. I can create logos, animated GIFs, illustrations, layout designs, and templates for all purposes. In everything I make, I strive to create an experience. I love experimenting with different concepts and styles to keep things exciting and am always on the lookout to stretch my creativity to its limits. Aside from art, I especially enjoy the slice-of-life genre, photography, exploring ideas about the human emotion, and all things nostalgic. Connect with me at contactkaitan@gmail.com
                        </div>
                    </div>
                    <img src="img/kai.png" class="about-img" alt="">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    I am currently pursuing my undergraduate degree in BFA Information Design at Ateneo de Manila University. I can create logos, animated GIFs, illustrations, layout designs, and templates for all purposes. In everything I make, I strive to create an experience. I love experimenting with different concepts and styles to keep things exciting and am always on the lookout to stretch my creativity to its limits. Aside from art, I especially enjoy the slice-of-life genre, photography, exploring ideas about the human emotion, and all things nostalgic. Connect with me at contactkaitan@gmail.com
                </div>
                <img src="img/kai.png" class="img-responsive img-centered" alt="">
            </div> -->
        </div>
    </section>